<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produtos</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar">
            <ul>
                <li><a href="/">Página inicial</a></li>
                <li><a href="/fornecedores">Tornar-se Fornecedor</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/transacoes">Transações</a></li>
                <li><a href="/cadastrarEmpresa">Cadastre sua empresa</a></li>
            </ul>
        </nav>
    <main>
        <h1>Adicionar Produto</h1>
        <form action="/adicionarProdutos" method="POST">
            
            <label for="nome">Nome do Produto:</label>
            <input type="text" id="nome" name="nome" required><br><br>
            
            <label for="preco">Preço:</label>
            <input type="number" id="preco" name="preco" step="0.01" required><br><br>
            
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" required><br><br>
            
            <label for="fornecedorID">Fornecedor:</label>
            <select id="fornecedorID" name="fornecedorID" required>
                {{#each fornecedores}}
                    <option value="{{this.id}}">{{this.nome}}</option>
                {{/each}}
            </select><br><br>
            
            <label for="empresaId">ID da Empresa:</label>
            <input type="number" id="empresaId" name="empresaId" value="{{empresaId}}" readonly><br><br>
            
            <button type="submit">Adicionar Produto</button>
        </form>
        <a href="/produtos">Cancelar</a>
    </main>
</body>