body {
    background-color: rgb(214, 207, 197);
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333; 
    padding: 10px 20px; 
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 18px; 
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #FFD700; 
}

header {
    background-color: #444; 
    padding: 10px 0; 
    text-align: center;
    color: white; 
}

main {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333; 
    font-size: 36px; 
}

p {
    color: #555; 
    font-size: 18px; 
}

a{
    color: #333;
}

table {
    color: #333;
    margin: 0 auto; 
    border-collapse: collapse; 
    width: 80%; 
}


.flash-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.flash-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}
